.modal-content {
    padding: 20px;
  }
  
  .modal-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
  }
  
  .modal-title {
    font-size: 1.5rem;
  }
  
  .form-group label {
    font-weight: bold;
  }
  
  .form-group {
    margin-bottom: 1.5rem;
  }
  
  .btn-close {
    background-color: transparent;
    border: none;
  }
  
  .form-control {
    padding: 0.5rem 1rem;
  }
  
  .text-end {
    text-align: end;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
  }
  
  .btn-primary:disabled {
    background-color: #6c757d;
    border-color: #6c757d;
    cursor: not-allowed;
  }
  