<div class="container">
    <h2>Accessory List</h2>
  
    <!-- Error message display -->
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>
  
    <!-- Accessory list -->
    <div *ngFor="let accessory of accessories" class="card mb-3">
      <img class="card-img-top" [src]="accessory.image" alt="Accessory image" />
      <div class="card-body">
        <h5 class="card-title">{{ accessory.name }}</h5>
        <p class="card-text">{{ accessory.description }}</p>
        <a [routerLink]="['/accessory-edit', accessory.id]" class="btn btn-primary">Edit</a>
        <button (click)="deleteAccessory(accessory.id)" class="btn btn-danger">Delete</button>
      </div>
    </div>
  
    <!-- Pagination controls -->
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <a class="page-link" href="#" (click)="goToPage(currentPage - 1)">Previous</a>
        </li>
        <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index" [class.active]="currentPage === i + 1">
          <a class="page-link" href="#" (click)="goToPage(i + 1)">{{ i + 1 }}</a>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <a class="page-link" href="#" (click)="goToPage(currentPage + 1)">Next</a>
        </li>
      </ul>
    </nav>
  </div>
  